@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@font-face {
  font-family: Circular;
  src: url("./fonts/circular-std.ttf")
}

body {
  margin: 0;
  padding: 0;
  font-family: Circular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hLine {
  position: relative;
}

.hLine::after {
  content: url("./assets/images/hLine.png");
  position: absolute;
  top: 33px;
  right: -20px;
}

.borderBlur {
  border: 20px solid rgba(28, 28, 40, 0.5);
}

@media (max-width: 640px) {
  .hLine::after {
    scale: 0.6;
    right: -75px;
  }
}